
// chart markup goes here

tabset
   tab(heading="HTML")
      pre(style="height:180px; overflow:scroll-y") {{code}}
   tab(heading="Data")
      pre(style="height:180px; overflow:scroll-y") {{data}}

