chart(data="chartData", tooltips)
   layout(line)
      x(property="date", type="time", axis, date-format="%Y%m%d", label="Date", show-label)
      y(axis, show-label, label="Temperature (F)", grid, legend="bottom-right", legend-title="City")
      color(type="category10", legend-title="City" )

tabset
   tab(heading="HTML")
      pre(style="height:180px; overflow:scroll-y") {{code}}
   tab(heading="Data")
      pre(style="height:180px; overflow:scroll-y") {{data}}

