chart(data="chartData", tooltips)
    layout(pie, selection, selected-domain="options.selection")
    color(property="age", values-legend)
        y(property="age")
        size(type="linear",property="population")