chart(data="chartData", tooltips)
   layout(pie, selection, selected-domain="options.selection", clear-selection="options.clearSelection")
      color(property="age", values-legend)
      size(type="linear",property="population")