md.
    This page demonstrates the use of linear, logarithmic, exponential/square root and identity scale types with the y-axis of the chart.
    Other quantitative scle types are time, threshold, quantize and quantile scales.
    Their use and characteristics will be demonstrated on other tabs.

    ----

    #### Options

table.table.table-condensed
    thead
        tr
            th Scope Variable
            th Value
            th Remarks

    tbody
        tr
            td options.scaleType
            td
                select(ng-model="options.scaleType")
                    option
                    option linear
                    option sqrt
                    option pow
                    option identity
            td
                md.
                    Defines how the data is mapped to the visual dimension. For detailed discussions on the mapping functions used please see the
                    [d3 Documentation on scales](https://github.com/mbostock/d3/wiki/API-Reference#d3scale-scales)

                    Default : linear


        tr(ng-show="options.scaleType=='pow'")
            td options.exponent
            td
                input(type="number", ng-model="options.exponent", min="0", max="10", step="0.1")
            td the exponent to the power function. Default: 1 (identity function)
        tr
            td options.domainRange
            td
                select(ng-model="options.domainRange")
                    option
                    option max
                    option min
                    option extent
                    option total
                    option use domain attribute values

            td
                md.
                    Calculation rule for the data range used to map values to the dimension.

                    options are:

                    * max :     `[0 .. Maximun Value]`
                    * min:      `[0 .. Minimum Value]`
                    * extent:   `[Minimum value .. Maximum Value]`
                    * total:    `[0 .. Maximum of data point totals]`

                    If an explicit domain value is specified the calulation rule is ignored

                    Default: depends on the chart type.


        tr(ng-show="options.domainRange == 'use domain attribute values'")
            td options.domain
            td
                span min:
                input(ng-model="options.domain[0]", type="number")
                span max:
                input(ng-model="options.domain[1]", type="number")
            td
                md.
                    Defines the minimum and maximum value that gets mapped. If defined, takes preference over the calulation rule specified in "domainRange" attribute.

                    Values can be defined as a javascript array like `[minimum value, max maximum value]`
                    or, for conveniance, as a comma-seperated list like  `min,max`.
