md.
   Threshold scales map ordered data types (numbers, time, etc.) to a discrete set of values. The mapping is defined through the range and domain attribute values.
   the range attribute defines the output values (e.g. a color value like in the example), the domain defines the thresholds used to map the input values. Domain values need to be sorted in ascending order,
   otherwise the output of the scale transformation will be undefined.

   For n output values in the scales range there need to be n-1 values in the domain

   #### Options

   ----

table.table.table-condensed
   thead
      tr
         th Scope Variable
         th Value
         th Remarks

   tbody
      tr
         td options.thresholdRange
         td
            textarea(ng-model="options.thresholdRange")
         td
      tr
         td options.thresholdDomain
         td
            textarea(ng-model="options.thresholdDomain")
         td


