chart(data="data.filtered", tooltips)
   layout(column-histogram, labels="{{options.labels}}")
      range-x(axis, lower-property="from", upper-property="to", axis-formatters="options.formatObj")
      y(axis, property="population",tick-format=".2s", format=".2s")
      color(property="from")


