.overflow {
    overflow:hidden;
}

.scroll {
    overflow-y:scroll;
}

.chartArea {
    height:50%;
}

.col-lg-6 {
    height: calc(100vh - 160px);
}

.wk-chart {
    border: solid 1px lightgrey;
}

.code-block {
    height:calc(50vh - 133px);
}

.data-block {
    height:calc(50vh - 133px);
    overflow-y:scroll;
}

input.short {
    width:110px;
}
input.long {
    width:130px;
}
input.two-col {
    width:355px;
}
input.three-col {
    width:605px;
}

select {
    height:26px;
    width:110px;
}
.dimTitle {
    background-color:lightgrey;
    text-align: center;
}
table.fixed {
    table-layout: fixed;
    width:750px;
}

table.fixed tr td {
    height:30px;
    padding:2px;
    vertical-align: middle;
}
table.fixed td:nth-of-type(1) {
    width:120px;
}
table.fixed td:nth-of-type(2) {
    width:120px;
}
table.fixed td:nth-of-type(3) {
    width:100px;
}
table.fixed td:nth-of-type(4) {
    width:120px;
}
table.fixed td:nth-of-type(5) {
    width:80px;
}
table.fixed td:nth-of-type(6) {
    width:120px;
}

table.dimension {
    table-layout:  fixed;
    width: 100%;
    border: 2px solid darkgrey;
}
table.dimension tr td {
    height:30px;
    padding:2px;
    vertical-align: middle;
}
table.dimension  tr.dimension-header {
    background-color:lightgrey;
    text-align: center;
}
table.dimension td input {
    width:100%;
}
table.dimension td select {
    width:100%;
}
table.dimension td input[type=radio] {
    display: inline;
    width:30px;
}

.height100percent  {
    height:100%;
}
.height80percent {
    height: 80%;
}
.height50percent {
    height: 50%;
}
.height20percent {
    height: 20%;
}
.width75percent {
    width:75%;
    height:100%;
    float:left;
}
.width25percent {
    width:25%;
    height:100%;
    float:left;
}


#shapeLegend, #groupLegend {
    position:relative;
}

#mfgLegend {
    font-size: 10px;
}

.options {
    padding-bottom: 50px;
    overflow-y: scroll;
}

.dataEditor {
    overflow-y: scroll;
    height:400px;
}
.dataEditor .narrow {
    width: 120px;
}

.dataEditor .checkboxcol {
    width:24px;
}

.vh {
    height:85vh;
}

.absoluteContainer {
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    border-style:solid;
    border-width:3px;
    border-color:red;
}

.absoluteChartContainer {
    position: absolute;
    left: 7.5%;
    top: 15%;
    width: 50%;
    overflow: hidden;
    height: 65%;
    border-style:solid;
    border-width:3px;
    border-color:green;

}

.custom-tooltip {
    border-style: solid;
    border-width: 8px;
}