chart(data="data.filtered", tooltips)
   layout(bars, padding="30,30", labels="{{options.labels}}")
      x(axis, tick-format=".2s", show-label, label="Population", property="population", grid)
      y(property="age", type="ordinal", label="Age")
      color(type="category20", property="age", values-legend="bottom-right", legend-title="Age")

