chart(data="data.filtered", tooltips)
   layout(column)
      x(property="age", type="ordinal", label="Age")
      y(axis, tick-format=".2s", show-label, label="Population", property="population")
      color(type="category20", property="age", values-legend="top-left", legend-title="Age")

