chart(data="data.filtered", tooltips)
   layout(column-clustered)
      x(axis, property="State", type="ordinal", show-label, label="State")
      y(axis, tick-format=".2s", grid)
      color(scale="category20", legend)

