chart(data="chartData", tooltips)
   layout(clustered-bar)
      x(axis, property="State", type="ordinal", show-label, label="State")
      y(axis, tick-format=".2s", grid)
      color(scale="category20", legend)

