chart(data="data.filtered", tooltips="tt-custom-template.html")
   layout(column-histogram, labels="{{options.labels}}")
      range-x(axis, lower-property="CLASS_BOUNDS_LOWER", show-label, label="Days", ticks="15", brush, selected-domain="options.xBrushDomain", brush-extent="options.xBrushExtent")
      y(property="CLASS_COUNT", format="d")
      color(property="CLASS_BOUNDS_LOWER", type="ordinal", range="#aec7e8,#1f77b4", reset)

