chart(data="chartData", tooltips, print-button)
   layout(spider)
      y(type="linear", tick-format="%", ticks="6", format="%")
      x(type="ordinal", property="axis")
      color(type="category10", legend="top-left", legend-title="What % of owners use a specific service in a week")
