.modal-header
    h3.modal-titel Details for Dimension {{name}}
.modal-body
    table.table.table-condensed
        tr(ng-repeat="(name, prop) in dimension.getDescriptor().properties")
            td {{name}}
            td
                span(ng-if="prop.type == 'enum'")
                    select(ng-model="dimension[name]", ng-options="item for item in prop.values")
                span(ng-switch="prop")
                    input(ng-switch-when="boolean", ng-model="dimension[name]", type='checkbox', placeholder="{{prop}}")
                    input(ng-switch-when="number", ng-model="dimension[name]", type='number', placeholder="{{prop}}")
                    input(ng-switch-when="string",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="list",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope variable",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope event",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="callback",ng-model="dimension[name]", placeholder="{{prop}}")
    table.table.table-condensed(ng-repeat="decorator in dimension.getDescriptor().decorators")
        tr
            td {{decorator.name}}
            td
                input(ng-model="dimension[decorator.key]", type="checkbox")
        tr(ng-if="dimension[decorator.key]")
            td {{decorator.name}}
            td
                span(ng-if="decorator.value.type == 'enum'")
                    select(ng-model="dimension[name]", ng-options="item for item in decorator.value.values")
                span(ng-switch="decorator.value")
                    input(ng-switch-when="boolean", ng-model="dimension[name]", type='checkbox', placeholder="{{prop}}")
                    input(ng-switch-when="number", ng-model="dimension[name]", type='number', placeholder="{{prop}}")
                    input(ng-switch-when="string",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="list",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope variable",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope event",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="callback",ng-model="dimension[name]", placeholder="{{prop}}")
        tr(ng-repeat="(name, prop) in decorator.properties", ng-if="dimension[decorator.key]")
            td {{name}}
            td
                span(ng-if="prop.type == 'enum'")
                    select(ng-model="dimension[name]", ng-options="item for item in prop.values")
                span(ng-switch="prop")
                    input(ng-switch-when="boolean", ng-model="dimension[name]", type='checkbox', placeholder="{{prop}}")
                    input(ng-switch-when="number", ng-model="dimension[name]", type='number', placeholder="{{prop}}")
                    input(ng-switch-when="string",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="list",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope variable",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="scope event",ng-model="dimension[name]", placeholder="{{prop}}")
                    input(ng-switch-when="callback",ng-model="dimension[name]", placeholder="{{prop}}")




.modal-footer
    button.btn.btn-default(ng-click="$close()") O.K.



