chart(data="chartData", tooltips="{{options.tooltip}}", deep-watch="{{options.deepWatch}}")
   layout(stacked-area markers="{{options.markers}}")
      x(property="{{options.x.property}}", type="{{options.x.type}}", domain-range="{{options.x.domainRange}}", domain="{{options.x.domain}}", axis="{{options.x.axis}}", ticks="{{options.x.ticks}}", tick-format="{{options.x.tickFormat}}", grid="{{options.x.grid}}", date-format="{{options.x.dateFormat}}", exponent="{{options.x.exponent}}", show-label="{{options.x.showLabel}}", label="{{options.x.label}}")
      y(property="{{options.y.property}}", type="{{options.y.type}}", domain-range="{{options.y.domainRange}}", domain="{{options.y.domain}}", axis="{{options.y.axis}}", ticks="{{options.y.ticks}}", tick-format="{{options.y.tickFormat}}", grid="{{options.y.grid}}", date-format="{{options.y.dateFormat}}", exponent="{{options.x.exponent}}", show-label="{{options.y.showLabel}}", label="{{options.y.label}}")
      color(property="{{options.color.property}}", type="{{options.color.type}}",range="{{options.color.range}}", domain-range="{{options.color.domainRange}}", domain="{{options.color.domain}}", date-format="{{options.y.dateFormat}}", legend="{{options.color.legend}}", values-legend="{{options.color.valueLegend}}", legend-title="{{options.color.legendTitle}}")


