chart(data="chartData", tooltips, deep-watch)
   layout(column-stacked)
      x(property="State", type="ordinal", axis)
      y(axis, tick-format=".2s", grid)
      color(type="{{options.colorScale}}", range="{{options.colorRange}}", legend)
