chart(data="chartData", tooltips)
   layout(line)
      x(property="date", type="time", axis, date-format="%Y%m%d", label="Date", show-label)
      y( type="{{options.scaleType}}",
         exponent="{{options.exponent}}",
         domain-range="{{options.domainRange}}",
         domain="{{options.domainRange=='use domain attribute values'?options.domain:undefined}}",
         axis, show-label, label="Temperature (Celsius)", grid, legend="bottom-right", legend-title="City")
      color(type="category10", legend-title="City" )


