.col-lg-6
   .chartArea
      ng-include(src="chartUrl")
   tabset.h50
      tab(heading="HTML")
         div(hljs language="html", source='chartCode', class="code-block")
      tab(heading="Data")
         div(hljs language="json", source='jsonData', class="data-block")
.col-lg-6.scroll
   ng-include(src="optionsUrl")