ng-include(src="'./lib/docs/behavior/selection.html'")
button.btn.btn-warning(ng-click="options.clearSelection()") Clear Selection
div(hljs language="json", source='options.selection | stringify', class="data-block")

