.height80percent
   chart(data="chartData", tooltips)
      x(axis, brushed="b3", type="time", property="date", date-format="%d.%m.%Y")
      color(type="category10")
      layout(area)
         y(axis, type="linear", property="close", domain-range="max", show-label, label="Close ($)")
      layout(line)
         y(right, axis, property="volume", domain-range="max", show-label, label="Volume", tick-format=".2s")
.height20percent
   chart(data="chartData", class="show-brush-handles")
      layout(line)
         x(axis, brush="b3", type="time", property="date", date-format="%d.%m.%Y", selected-domain="options.domain", brush-extent="options.brushExtent")
         y(property="close", domain-range="max")
         color()

