.width75percent
   chart(data="chartData", tooltips, title="Alterspyramide Deutschland", subtitle="Stand 31.12.2013")
      layout(area-vertical)
         y(axis, type="ordinal", property="Altersgruppe", show-label, label="Alter", brushed="bVert")
         x(property="maennlich,weiblich,differenz", axis, tick-format=".2s", domain-range="extent", legend, grid)
         color(type="category10")
.width25percent
   chart(data="chartData", class="show-brush-handles")
      layout(area-vertical)
         y(axis, type="ordinal", property="Altersgruppe", brush="bVert", clear-brush="options.clearBrush")
         x(property="maennlich,weiblich")
         color(type="category10")