chart(data="chartData", tooltips)
   layout(stacked-area="expand")
      x(property="date", type="time", axis, date-format="%Y%m%d", domain-range="extent")
      y(type="linear", axis,  domain-range="total")
      color(type="category10", legend="top-right")


