chart(data="chartData",tooltips, title="Einnahmen u. Ausgaben öffentlicher Haushalte 1950 - 2013")
   layout(area)
      x(type="time", date-format="%Y", property="Jahr", axis, format="%Y")
      y(axis, grid, show-label, label="in Mdr €")
      color(type="category10", legend="top-left")


