chart(data="chartData", tooltips)
   layout(area-stacked-vertical="{{options.areaStyle}}")
      x(type="linear", axis,  domain-range="total", property="{{options.areaProperty}}")
      y(property="date", type="time", axis, date-format="%Y%m%d", domain-range="extent")
      color(type="category10", legend="top-right")


