chart(data="data.filtered", tooltips, header="Browser Market Share Jan 2012 - Sept 2014")
   layout(area-stacked="{{options.areaStyle}}", markers="{{options.markers}}")
      x(type="time" date-format="%e-%b-%y" property="Date" format="%b %Y" axis ticks="10")
      y(type="linear" format="%" axis tick-format="%",property="{{options.areaProperty}}")
      color(legend="bottom-right")
