chart(data="data.filtered", tooltips)
   layout(area-stacked-vertical="{{options.areaStyle}}", markers="{{options.markers}}")
      x(type="linear", axis,  domain-range="total")
      y(property="date", type="time", axis, date-format="%Y%m%d", domain-range="extent")
      color(type="category10", legend="top-right")


