md.
   #### Defaults

   axis | Attribute | Default Value
   ---- | --------- | ------------
   x | domain-range | none
   y | domain-range | extent

   #### Modify Data
   -------
chart-data-editor(data="data.chartData", filtered="data.filtered")