.navbar.navbar-default.navbar-fixed-bottom
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#/home") &copy; Willi Klenk, 2014, 2015
        p.navbar-text angular: {{angularVersion}}, d3: {{d3Version}}

