md.
   #### Modify Data
   -------
button.btn.btn-normal(ng-click="left()") trunkate left
button.btn.btn-normal(ng-click="right()") trunkate right
button.btn.btn-normal(ng-click="center()") trunkate both
button.btn.btn-normal(ng-click="cut()") cut center
button.btn.btn-normal(ng-click="reset()") reset

