h4 Options
table.table.table-condensed
    thead
        tr
            th Scope Variable
            th Value
            th Remarks

    tbody
        tr
            td options.areaStyle
            td
                select(ng-model="options.areaStyle")
                    option
                    option zero
                    option silhouette
                    option expand
                    option wiggle
            td
                md  Defines how the layers are stacked. For more details please see [d3 Documentation on stack layout](https://github.com/mbostock/d3/wiki/Stack-Layout#offset)

md.
    #### Defaults

    axis | Type | Attribute | Default Value
    ---- | ---- |:---------:| ------------
    x | linear | domain-range | extent
    y | linear | domain-range | total
    color | category20 | -- | --