h4(ng-init="cities = ['New York', 'San Francisco', 'Austin'];") Options
table.table.table-condensed
    thead
        tr
            th Scope Variable
            th Value
            th Remarks
    tbody
        tr
            td options.areaStyle
            td
                select(ng-model="options.areaStyle")
                    option
                    option zero
                    option silhouette
                    option expand
                    option wiggle
            td
                md  Defines how the layers are stacked. For more details please see [d3 Documentation on stack layout](https://github.com/mbostock/d3/wiki/Stack-Layout#offset)
        tr
            td options.areaProperty
            td(colspan="3")
                ui-select(multiple,ng-model="options.areaProperty")
                    ui-select-match(placeholder="Select Properties...") {{$item}}
                    ui-select-choices(repeat="prop in cities | filter:$select.search") {{prop}}
md.
    #### Defaults
    axis | Type | Attribute | Default Value
    ---- | ---- |:---------:| ------------
    x | linear | domain-range | extent
    y | linear | domain-range | total
    color | category20 | -- | --