ng-include(src="'./lib/docs/layout/areaVertical.html'", autoscroll="true")

button.btn.btn-primary(ng-click="options.markers = !options.markers") {{options.markers? 'Hide ' : 'Show '}}Markers

md.
   #### Modify Data
   -------

button.btn.btn-normal(ng-click="left()") trunkate bottom
button.btn.btn-normal(ng-click="right()") trunkate top
button.btn.btn-normal(ng-click="center()") trunkate both
button.btn.btn-normal(ng-click="cut()") cut center
button.btn.btn-normal(ng-click="reset()") reset