.leftArea
    ul.nav.nav-pills.nav-stacked
        li(ng-repeat="item in menuItems",ng-class="isActive($index)")
            a(ui-sref="{{item.url}}{{initial[$index]}}") {{item.name}}
            //{{initial[$index]}}
