chart(data="data.filtered", tooltips)
   layout(pie, labels="{{options.labels}}", selection, donat)
      size(property="population", format=".2s")
      y(property="age")
      color(property="age", values-legend)

