md.
   #### Options

table.table.table-condensed
   thead
      tr
         th Scope Variable
         th Value
         th Remarks
   tbody
      tr
         td options.markers
         td
            input(type="checkbox", ng-model="options.markers")
         td
            markdown if true, show markers for each data point on chart
md.
   #### Defaults

   axis | Type | Attribute | Default Value
   ---- | ---- |:---------:| ------------
   x | linear | domain-range | extent
   y | linear | domain-range | extent
   color | category20 | -- | --

   #### Modify Data
   -------

button.btn.btn-normal(ng-click="left()") trunkate left
button.btn.btn-normal(ng-click="right()") trunkate right
button.btn.btn-normal(ng-click="center()") trunkate center
button.btn.btn-normal(ng-click="reset()") reset
button.btn.btn-normal(ng-click="shiftLeft()") shift left
button.btn.btn-normal(ng-click="shiftRight()") shift right