md.
   #### Options

table.table.table-condensed
   thead
      tr
         th Scope Variable
         th Value
         th Remarks
   tbody
      tr
         td options.markers
         td
            input(type="checkbox", ng-model="options.markers")
         td
            markdown if true, show markers for each data point on chart
md.
   #### Defaults

   axis | Attribute | Default Value
   ---- | --------- | ------------
   x | domain-range | extent
   y | domain-range | extent