ng-include(src="'./lib/docs/layout/line.html'", autoscroll="true")

md.
   ### Play with the chart
br
button.btn.btn-normal(ng-click="left()") truncate left
button.btn.btn-normal(ng-click="right()") truncate right
button.btn.btn-normal(ng-click="center()") truncate both
button.btn.btn-normal(ng-click="cut()") cut center
button.btn.btn-normal(ng-click="reset()") reset
button.btn.btn-normal(ng-click="shiftLeft()") shift left
button.btn.btn-normal(ng-click="shiftRight()") shift right

br
br

button.btn.btn-primary(ng-click="options.markers = !options.markers") {{options.markers? 'Hide ' : 'Show '}}Markers
pre(style="display:inline;") options.markers = {{options.markers}}