ng-include(src="'./lib/docs/layout/lineVertical.html'", autoscroll="true")
md.
   ### Play with the chart
br
button.btn.btn-normal(ng-click="left()") trunkate bottom
button.btn.btn-normal(ng-click="right()") trunkate top
button.btn.btn-normal(ng-click="center()") trunkate both
button.btn.btn-normal(ng-click="cut()") cut center
button.btn.btn-normal(ng-click="reset()") reset
br
br
button.btn.btn-primary(ng-click="options.markers = !options.markers") {{options.markers? 'Hide ' : 'Show '}}Markers
pre(style="display:inline;") options.markers = {{options.markers}}

