ng-include(src="'./lib/docs/behavior/brushed.html'")

button.btn.btn-warning(ng-click="options.brushExtent = []") Clear Brush

md selected-domain

//div(hljs language="json", source="options.domain | stringify", class="data-block")

pre.data-block {{options.domain | stringify}}