ng-include(src="'./lib/docs/behavior/brush.html'")



md The selected domain scope variable contains the objects that are selected throughteh brush

button.btn.btn-warning(ng-click="options.brushExtent=[]") Clear Brush

md selected-domain

div(hljs language="json", source='options.domain | stringify', class="data-block")