

md The selected domain scope variable contains the objects that are selected throughteh brush
md selected-domain
div(hljs language="json", source='options.selection | stringify', class="data-block")

pre {{options.xBrushValues}}

pre {{options.xBrushExtent}}