md.
    Setting `selection` attribute on a layout element enables individual object selection for the layout.
    Chart objects are selected / de-selected by clicking a the chart object, e.g a Pie Chart segment in the example on this page.

    > Selection cannot be combined with a brush on the same layout.

    - - - -

    This box shows the data for the selected objects from the pie chart

div(hljs language="json", source='options.selection | stringify', class="data-block")
