chart(data="data.filtered",tooltips title="Monatl. Temperatur 2014",subtitle="Quelle: www.wetter.de")
   layout(range-bars)
      y(axis,property="Monat",type="ordinal")
      range-x(lower-property="Minimum", upper-property="Maximum",axis,label="Temperatur (C)",show-label)
      color(type="category20c")

