.col-lg-6
   .chartArea#chartArea
   tabset.h50
      tab(heading="HTML")
         div(hljs language="html", source='chartCode', class="code-block")
      tab(heading="Data")
         div(hljs language="json", source='data', class="data-block")
.col-lg-6.options
   ng-include(src="optionsUrl")