table.table.table-condensed.custom-tooltip(ng-style="{'border-color':ttData.color}")
    tr
        td Days
        td {{ttData.data.CLASS_BOUNDS_LOWER}} to {{ttData.data.CLASS_BOUNDS_UPPER}}
        td Units : {{ttData.data.CLASS_COUNT}}


