table.table.table-condensed.custom-tooltip(ng-style="{'border-color':map.color()}")
    tr
        td Days
        td {{ttData.CLASS_BOUNDS_LOWER}} to {{ttData.CLASS_BOUNDS_UPPER}}
        td Units : {{ttData.CLASS_COUNT}}


