table.table.table-condensed
    thead
        tr
            th(colspan="2") {{value.x() | date:'d MMM yyyy'}}
        tr
            th {{label.color}}
            th {{label.y}}
    tbody
        tr(ng-repeat="prop in properties.color()", ng-style="{'color':scale.color(prop)}")
            td {{prop}}
            td {{ttData[prop] | number:1}}




